body {
  margin: 0 auto;
  padding: 0;
}

.header {
  border-bottom: 2px solid #cccccc;
  margin-bottom: 0;
}

.header-info, .main {
  width: 960px;
  margin: 0 auto;
}

.inline-block-element {
  display: inline-block;
}

.green-text {
  color: #4aaaa5;
}

.green-background {
  background-color: #4aaaa5;
}

.float-right {
  float: right;
}

.grey-text {
  color: #cccccc;
}

.white-background {
  background-color: #ffffff;
}

header {
  padding: 0 30px;
}

nav {
  margin-top: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #777777;
}

li {
  padding: 0 20px;
  border-right: 2px solid #cccccc;
  display: inline;
}

li:last-child {
  padding-right: 0;
  border-right: none;
}

li a {
  text-decoration: none;
  color: #777777;
}

.container {
  background: url('../images/ignasi_pattern_s.png') no-repeat;
  background-size: 100%;
  margin: 0 auto;
  height: 550px;
  padding: 40px 0;
}

.portfolio-container {
  background: url('../images/ignasi_pattern_s.png') no-repeat;
  background-size: 100%;
  margin: 0 auto;
  height: 900px;
  padding: 40px 0;
}

section {
  padding: 30px;
  width: 590px;
}

.section-head {
  height: 50px;
  margin-bottom: 25px;
  border-bottom: 3px solid #cccccc;
}

aside {
  width: 230px;
  padding: 5px 20px 20px;
}

aside a {
  text-decoration: none;
}

.aside-head {
  height: 40px;
  margin-bottom: 25px;
  border-bottom: 2px solid #cccccc;
}

.logo {
  width: 70px;
  height: 70px;
  display: inline;
  margin-right: 5px;
}

.last-logo {
  margin-right: 0;
}

h1 {
  color: #ffffff;
}

h2 {
  margin-top: 0;
}

h1, h2, h3 {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

p, a {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.profilepic {
  width: 25%;
  height: 25%;
}

form {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

input {
  width: 580px;
  height: 25px;
}

input:last-child {
  width: 100px;
  height: 35px;
  color: #ffffff;
  border: none;
  font-size: 15px;
}

textarea {
  width: 580px;
  height: 160px;
}

footer {
  height: 100px;
  line-height: 80px;
  text-align: center;
  background-color: #666666;
  border-top: 6px solid #4aaaa5;
}

.portfolio-item {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  background-color: green;
}

#hangman-item {
  background-image: url("http://www.placehold.it/200x200");
}
