body {
  margin: 0 auto;
}

.margin-auto-sides {
  margin: 0 auto;
}

.header {
  margin-bottom: 0;
}

.header-info, .main {
  width: 960px;
}

.no-padding {
  padding: 0;
}

.inline-block-element {
  display: inline-block;
}

.inline-element {
  display: inline;
}

.green-text {
  color: #4aaaa5;
}

.green-background {
  background-color: #4aaaa5;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.grey-text {
  color: #cccccc;
}

.grey-bottom-border {
  border-bottom: 2px solid #cccccc;
}

.white-background {
  background-color: #ffffff;
}

.white-text {
  color: #ffffff;
}


header {
  padding: 0 30px;
}

nav {
  margin-top: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  color: #777777;
}

article {
  width: 100%;
}

li {
  padding: 0 20px;
  border-right: 2px solid #cccccc;
  display: inline;
}

li:last-child {
  padding-right: 0;
  border-right: none;
}

.bio {
  width: 70%;
  margin-left: 20px;
  margin-top: 0;
}

li a {
  color: #777777;
}

a {
  text-decoration: none;
}

.container {
  background: url('../images/ignasi_pattern_s.png') no-repeat;
  background-size: 100%;
  height: 550px;
  padding: 40px 0;
}

.portfolio-container {
  background: url('../images/ignasi_pattern_s.png') no-repeat;
  background-size: 100%;
  height: 900px;
  padding: 40px 0;
}

section {
  padding: 30px;
  width: 590px;
}

.section-head {
  height: 50px;
  margin-bottom: 25px;
  border-bottom: 3px solid #cccccc;
}

aside {
  width: 230px;
  padding: 5px 20px 20px;
}

aside a {
  text-decoration: none;
}

.aside-head {
  height: 40px;
  margin-bottom: 25px;
}

.logo {
  width: 70px;
  height: 70px;
  display: inline;
  margin-right: 5px;
}

.last-logo {
  margin-right: 0;
}

h2 {
  margin-top: 0;
}

.serif {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

p, a, form {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.profilepic {
  width: 25%;
  height: 25%;
}

input {
  width: 580px;
  height: 25px;
}

input:last-child {
  width: 100px;
  height: 35px;
  color: #ffffff;
  border: none;
  font-size: 15px;
}

textarea {
  width: 580px;
  height: 160px;
}

footer {
  height: 100px;
  line-height: 80px;
  text-align: center;
  background-color: #666666;
  border-top: 6px solid #4aaaa5;
}

.portfolio-item {
  width: 280px;
  height: 200px;
  margin: 10px 30px 40px 0;
  background-color: black;
  background-size: cover;
}

.portfolio-item-right {
  margin-right: 0;
}

.tag {
  text-align: center;
  background-color: #4aaaa5;
  height: 60px;
  line-height: 60px;
  margin-top: 130px;

}

#hangman {
  background-image: url("../images/city1.jpg");
}

#rpggame {
  background-image: url("../images/city2.jpg");
}

#triviagame {
  background-image: url("../images/meow1.jpg");
}

#rutgersinfo {
  background-image: url("../images/meow2.jpg");
}

#rockpaperscissors {
  background-image: url("../images/nom1.jpg");
}
